.list-container {
    margin: 50px 20px 5px;
}

.pokemon-list {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    text-align: center;
}

.listItem-style {
    margin-bottom: 30px;
}


/*Explanation: to clear the 'X' in the Pokemon search bar, from Internet Explorer*/
input[type=search]::-ms-clear {
    display: none; 
    width : 0; 
    height: 0;
}

input[type=search]::-ms-reveal {  
    display: none; 
    width : 0; 
    height: 0; 
}

/*Explanation: to clear the 'X' in the Pokemon search bar, from Chrome*/
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
    display: none; 
}