body {
    font-family: 'Signika', sans-serif;
    background-image: url("https://i.postimg.cc/L6nL48HB/all-pokemon.jpg");
    background-repeat: repeat;
}

.list-container {
    margin: 130px 20px 5px;
    background-image: url();
}

.pokemon-list {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    text-align: center;
}

/*Explanation: The media queries below serve to reduce the number of columns displayed as screen sizes decrease*/
@media all and (max-width: 1200px) {
    .pokemon-list {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media all and (max-width: 800px) {
    .pokemon-list {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media all and (max-width: 650px) {
    .pokemon-list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media all and (max-width: 400px) {
    .pokemon-list {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

/*Explanation: at around 627px, the search box in the navbar goes below the logo, eating up the top margin, thus this media query*/
@media all and (max-width: 627px) {
    .list-container {
        margin-top: 170px;
    }
}

.listItem-style {
    margin-bottom: 30px;
}

.btn-lg {
    padding: 25px 25px;
    border-radius: 10px;
}

.modal {
    color: #3c5aa6;
}

.modal-header {
    border: none;
}

.modal-body {
    margin: 5px 25px 40px;
    text-align: center;
    border: 2px solid;
    border-radius: 2%;
}


/*Explanation: to clear the 'X' in the Pokemon search bar, from Internet Explorer*/
input[type=search]::-ms-clear {
    display: none; 
    width : 0; 
    height: 0;
}

input[type=search]::-ms-reveal {  
    display: none; 
    width : 0; 
    height: 0; 
}

/*Explanation: to clear the 'X' in the Pokemon search bar, from Chrome*/
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
    display: none; 
}